#over {
    margin-top: 3%;
}

#conference_num button, #conference_names button, #conference_choices button {
    font-size: 80%;
    margin: 1%;
    padding: 1%;
}

.line {
    display: inline-block;
}

#conference_num, #conference_names, #conference_choices {
    font-size: 125%;
    color: white;
    background-color: #222;
    border: 2px solid white;
    margin: 3%;
    padding: 1%;
}

#conference_num {
    text-align: left;
    width: 30%;
    margin-left: 10%;
}
label {
    white-space: nowrap;
    margin: 1.5%;
}
form {
    margin-bottom: 4%;
}


#wrapper {
    width: 100%;
    float: left;
}
#conference_names {
    float: right;
    width: 30%;
    margin-right: 10%;
}
input {
    font-size: 75%;
    margin: 1.5%;
}

#conference_choices {
    text-align: left;
    margin-left: 10%;
    width: 40%;
}
img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}


.color_0 {
    color: blue;
}
.back_0 {
    background-color: blue;
}

.color_1 {
    color: green;
}
.back_1 {
    background-color: green;
}

.color_2 {
    color: red;
}
.back_2 {
    background-color: red;
}

.color_3 {
    color: orange;
}
.back_3 {
    background-color: orange;
}

.color_4 {
    color: purple;
}
.back_4 {
    background-color: purple;
}

.color_5 {
    color: yellow;
}
.back_5 {
    background-color: #dd0;
}

.color_6 {
    color: white;
}
.back_6 {
    background-color: #ddd;
}

.color_7 {
    color: #444;
}
.back_7 {
    background-color: #444;
}
