button {
    font-size: 80%;
    margin: 1%;
    padding: 1%;
}

.line {
    display: inline-block;
}

#conference_num, #conference_names, #conference_choices {
    font-size: 125%;
    color: white;
    background-color: #222;
    border: 2px solid white;
    margin: 3%;
    padding: 1%;
}

#conference_num {
    text-align: left;
    width: 30%;
    margin-left: 10%;
}
label {
    white-space: nowrap;
    margin: 1.5%;
}
form {
    margin-bottom: 4%;
}


#wrapper {
    width: 100%;
    float: left;
}
#conference_names {
    float: right;
    width: 30%;
    margin-right: 10%;
}
input {
    font-size: 75%;
    margin: 1.5%;
}

#conference_choices {
    text-align: left;
    margin-left: 10%;
    width: 40%;
}
img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
