/*#page_header {
    background-color: #222;
    border: 1px solid white;
    margin: 0 auto;
    padding: 0%;
    padding-bottom: 1%;
    width: 60%;
}*/
#page_header p, #page_header img {
    background-color: #222;
    border: 1px solid white;
    vertical-align: top;
}
#page_header img {
    margin-right: 1%;
}
#page_header p {
    margin-left: 1%;
}

#map {
    background-color: #222;
    border: 2px solid white;
    padding: 1%;
    margin: 5%;
    margin-bottom: 0;
}

strong {
    font-size: 150%;
}

#caption {
    font-size: 110%;
    border: 2px solid white;
    background-color: #222;
    color: white;
    display: block;
    width: 40%;
    text-align: left;
    margin: 5%;
    margin-left: 5%;
    padding: 1%;
}

#wrapper {
    width: 100%;
    float: left;
}
#explanation {
    font-size: 110%;
    border: 2px solid white;
    background-color: #222;
    color: white;
    float: right;
    width: 40%;
    text-align: left;
    margin-right: 10%;
    padding: 1%;
    margin-bottom: 5%;
}
